<div class="card">
    <div class="card-body">
        <h2 class="card-title">Registro exitoso</h2>

        <h5 class="card-title">¡Gracias por confiar en nosotros!</h5>
        <div class="row justify-content-center">
            <div class="success-animation">
                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                </svg>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary mt-1" (click)="nuevoAsegurado()">Realizar otro registro</button>
            </div>
            <div class="col">
                <a class="btn btn-primary mt-1" href="https://www.mercantilandina.com.ar/" target="_blank">
                    Ir a Mercantil Andina
                </a>
            </div>
        </div>
    </div>
</div>
